$button-action-bg:                #c4c4c4;
$button-action-color:             #000000;

html {
  height: 100%;
}

body {
  height: 100%;
  color: $font-color-primary;

  // Media till-medium

  @include till-medium() {
    background-color: #b4b4b4;
  }

  // Media from-medium

  @include from-medium() {
    background-image: url('../images/bg.png');
  }
}

// Links color

a {
  &:link {
    color: $link-color;
  }

  &:visited {
    color: $link-color;
  }

  &:hover,
  &:focus {
    color: $link-color-hover;
  }
}


// Logo

.logo {
  margin-bottom: 0;
  min-height: 44px;

  a {
    display: block;
    width: 100%;
  }

  object {
    pointer-events: none;
  }
}



// Selection color
//==========================================================================

@include selection($white, darken($color-secondary-dark, 10%));



// Layout styles
//==========================================================================

.topbar {
  background: #000;
}

.header-wrapper {
  background: #b10000;
}

.site-header {
  padding-top: 0;
}

.header-wrapper {
  overflow: hidden;
}

.topbar {
  padding-top: 0;
}

.topbar-inner {
  padding-top: 20px;
}

// Navigation

.navigation-wrapper {
  margin-top: 0;
  background-color: #fff;
}

.menu-item {
  color: $white;

  &:hover,
  &.active {
    color: $link-color-hover;
  }
}

.bottom {
  background-color: transparent;

  &,
  a {
    color: $black;
    font-weight: 700;
    font-size: 110%;
  }
}

.footer {
  background-color: #fff;
  @include box-sizing(border-box);
  margin: 0 auto;
  padding: 10px;
  max-width: 1180px;

  // Media queries

  @include till-x-large {
    margin-right: 10px;
    margin-left: 10px;
  }
}

// Hiding subjects from object page

.page-ting-object .field-name-ting-details-subjects {
  display: none !important;
}

// Hide search from bibdk-subject-hierarchy-searchfield

.subject-hierarchy-searchfield {
  display: none;
}

.ui-icon-closethick {
  margin-top: -16px !important;
}

.topbar-menu .topbar-link-user-account.menu-item {
  color: #3399cc;
}

/* Alma reserve buttons
   ========================================================================== */

.ding-item-list-item .item-details .reserve-button:link,
.alma-item-list .item-details .reserve-button:link {
  background: none;
  border: none;
  border-radius: none;
  box-shadow: none;
  color: $link-color;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.ding-item-list-item .item-details .reserve-button:hover,
.alma-item-list .item-details .reserve-button:link:hover {
  color: darken($link-color, 15%);
  text-decoration: none;
}

.pane-alma-item-list {
  background-color: $white;
  padding: 10px;
}

.alma-item-list-item:first-child {
  border: none;
  padding-top: 0;
}

.alma-item-list-item {
  border-top: 1px dashed $grey;
  padding-top: 10px;
}

/* Action button */
%button-action {
  @include create-gradient-button($button-action-color, $button-action-bg, darken($button-action-bg, 15%));
}

.label a,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a a,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a,
.subjects .subject a,
.news-list .news-label a,
.super-heading .field-name-field-ding-news-library .field-item a {
  border-radius: 3px;
  padding: 5px;
  line-height: 20px;
}

.page-search .availability {
  &.pending,
  &.processed,
  &.available,
  &.reservable,
  &.available.reservable,
  &.unavailable.reservable,
  &.available.not-reservable,
  &.unavailable.not-reservable {
    border-radius: 3px;
    padding: 5px;
    line-height: 20px;
  }
}

.alma-item-list .item-details .item-loan,
.alma-item-list .item-details .item-loan a,
.ding-item-list-item .item-details .item-loan,
.ding-item-list-item .item-details .item-loan a {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: $link-color;
  display: inline;
  margin-right: 10px;
  padding: 0;

  &:hover {
    color: $link-color-hover;
  }
}

.ding-item-list-item .item-details .item-loan {
  display: block;

  span.ext {
    display: none;
  }

  a {
    margin-left: 0;
    text-align: left;
  }
}
