html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url(../images/bg.png);
  color: $font-color-primary;
}

// Links color

a {
  &:link {
    color: $link-color;
  }

  &:visited {
    color: darken($link-color, 15%);
  }

  &:hover,
  &:focus {
    color: $link-color-hover;
  }
}


// Logo

.logo img {
  height: auto;
}



// Selection color
//==========================================================================

@include selection($white, darken($color-secondary-dark, 10%));



// Layout styles
//==========================================================================

.topbar,
.header-wrapper {
  background: none;
}

.header-wrapper {
  overflow: hidden;
}


// Navigation

.navigation-wrapper {
  margin-top: 20px;
  background-color: $navigation-wrapper;
}

.menu-item {
  color: $white;

  &:hover,
  &.active {
    color: $link-color-hover;
  }
}

.bottom {
  background-color: transparent;

  a {
    color: $white;
  }
}

.footer {
  @include box-sizing(border-box);
  margin: 0 auto;
  padding: 10px;
  max-width: 1180px;
  border-bottom: 20px solid $white;
  background-color: $color-primary-light;

  @include till-x-large {
    margin-left: 10px;
    margin-right: 10px;
  }
}
