/**
 * Colors that can be configured through theme settings.
 *
 * Every color settings MUST be in HEX format..
 * @author magnify
 */


/* Buttons */
$button-default-background:       #444443 !default;
$button-default-background-gradient: #1e1e1f !default;
$button-default-color-hover:      #1e1e1e !default;
$button-default-text-color:       #fffff8 !default;
