/**
 * Availability
 */


/* Ting object buttons.
   ========================================================================== */

.unavailable,
.unavailable:link,
.unavailable:visited,
.unavailable:hover,
.unavailable:active {
  color: darken($availability-reservable, 10%);
}

.field-name-ding-entity-buttons .reserve-button,
.ding-periodical-issues .reserve-button {
  display: none;

  &.reservable {
    display: inline-block;
    margin-left: 10px;
    @extend %button-action;
  }

  &.unavailable.reservable {
    @include create-gradient-button($white, $availability-reservable, darken($availability-reservable, 15%));
  }
}

/* Search results availability
   ========================================================================== */

.page-search .availability {

  &.pending {
    background-color: $availability-pending;
  }

  &.availability.processed {
    background-color: $availability-processed;
  }

  &.availability.available {
    background-color: $availability-available;
  }

  &.availability.reservable {
    background-color: $availability-reservable;
  }

  &.availability.available.reservable {
    background-color: $availability-available-reservable;
  }

  &.availability.available.not-reservable {
    background-color: $availability-available-not-reservable;
  }

  &.availability.unavailable.reservable {
    background-color: $availability-reservable;
  }

  &.availability.unavailable.not-reservable {
    background-color: $availability-unavailable-not-reservable;
  }
}

/* Availability legend
   ========================================================================== */

.availability-legend {

  .available {
    background-color: $legend-available;
  }

  .on-loan {
    background-color: $legend-on-loan;
  }

  .unavailable {
    background-color: $legend-unavailable;
  }

  .unreservable {
    background-color: $legend-unreservable;
  }
}
