/**
 * Availability
 */


/* Ting object buttons.
   ========================================================================== */

.unavailable,
.unavailable:link,
.unavailable:visited,
.unavailable:hover,
.unavailable:active {
  color: $text-color;
}

.field-name-ding-entity-buttons .reserve-button,
.ding-periodical-issues .reserve-button {
  &,
  &.unavailable.reservable {
    @extend %button-action;
    @include create-gradient-button($text-color, $button-action-color, $button-action-bg, rgba($button-action-bg, 1%));
    display: inline-block;
    margin-left: 10px;
  }
}

/* Search results availability
   ========================================================================== */

.page-search .availability {

  &.pending,
  &.availability.processed,
  &.availability.available,
  &.availability.reservable,
  &.availability.available.reservable,
  &.availability.unavailable.reservable,
  &.availability.available.not-reservable,
  &.availability.unavailable.not-reservable {
    @include create-gradient-button($text-color, $button-action-color, $button-action-bg, rgba($button-action-bg, 1%));
  }
}

/* Availability legend
   ========================================================================== */

.availability-legend {

  .on-loan,
  .available,
  .unavailable,
  .unreservable {
    @include create-gradient-button($text-color, $button-action-color, $button-action-bg, rgba($button-action-bg, 1%));

    span {
      color: $text-color;
    }
  }
}
