// Search overlay
//==========================================================================

.search-overlay--inner {
  @include border-radius(0);
}



// Search
//==========================================================================

.search {
  @extend %search-user-header;
}

.button-see-online {
  @extend %button-action;
}

.bookmark-button {
  @extend %button-action;
}

.subjects {
  .subject {
    @extend .label;
  }
}

// Search in content
//==========================================================================

.search-field-in-content {
  @extend .search;
}


// Facet browser styling
//==========================================================================

.pane-ding-facetbrowser {

  a:visited {
    color: $link-color;
  }
}

.pane-search-backends {
  @extend .pane-ding-facetbrowser;
  display: none !important;
}



// Search autocomplete
//==========================================================================

#autocomplete {
  @include border-radius(0);

  li {
    a {
      @include border-radius(0);
    }
  }
}



// Object display
//==========================================================================

.pane-ting-object {

  // Material Details - Collapsible
  .collapsible .field-group-format-title,
  .ding-periodical-fold {
    &:before {
      color: $link-color;
    }
  }
}


// Search results and collection page underlined heading
//==========================================================================

.search-result .heading a,
.pane-ting-collection .ting-collection-inner-wrapper h2 a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}


// Search spinner
//==========================================================================

.search-overlay--inner {
  background-color: rgba($black, .8);

  // Cancel button
  .cancel a {
    color: $link-color;
  }
}



// Search results more info button
//==========================================================================

.more-info-wrapper a {
  margin-top: 5px;
  margin-right: 10px;
  vertical-align: top;
  text-decoration: none;

  &:before {
    @extend .icon-plus-sign;
    float: left;
    margin-top: -1px;
    margin-right: 3px;
    padding-right: 5px;
    font-size: 24px;
    font-family: "FontAwesome";
  }
  &.hover {
    color: #006681;
    font-weight: bold;
  }
}
